/* .btn1{
    position: absolute;
    width: 535px;
    height: 253px;
    background: #C0CFD2;
} */
/* .box1{
    position: absolute;
    width: 488px;
    height: 178px;
    left: 79px;
    top: 259px;
    
    background: #C0CFD2;
}
.box2{
    position: absolute;
    width: 488px;
    height: 176px;
    left: 79px;
    top: 463px;
    
    background: #C0CFD2;
}

.box3{
    position: absolute;
    width: 488px;
    height: 176px;
    left: 79px;
    top: 668px;
    
    background: #C0CFD2;
}

.box4{
    position: absolute;
    width: 488px;
    height: 176px;
    left: 79px;
    top: 870px;
    
    background: #C0CFD2;
}
.box5{
    position: absolute;
    width: 489px;
    height: 178px;
    left: 619px;
    top: 259px;

    background: #C0CFD2;
} */
h1{
    text-align: center;
    font-size: 90pt;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: -5px;
}
.box1{
    
    position: absolute;
    width: 488px;
    height: 178px;
    left: 79px;
    top: 189px;
    
    background: #C0CFD2;
}
.btn1{
    position: absolute;
    width: 488px;
    height: 178px;
    background: #C0CFD2;
}


.box2{
    position: absolute;
    width: 489px;
    height: 178px;
    left: 619px;
    top: 189px;
    
    background: #C0CFD2;
}



.box3{
    position: absolute;
    width: 490px;
    height: 178px;
    left: 1160px;
    top: 189px;
    
    background: #C0CFD2;
}
.box4{
    position: absolute;
    width: 488px;
    height: 176px;
    left: 79px;
    top: 393px;
    
    background: #C0CFD2;
}
.box5{
    position: absolute;
    width: 489px;
    height: 176px;
    left: 619px;
    top: 393px;
    
    background: #C0CFD2;
        
}
.box6{
    position: absolute;
    width: 490px;
    height: 176px;
    left: 1160px;
    top: 393px;
    
    background: #C0CFD2;
}
.box7{
    position: absolute;
    width: 488px;
    height: 176px;
    left: 79px;
    top: 598px;
    
    background: #C0CFD2;
}
.box8{
    position: absolute;
    width: 489px;
    height: 176px;
    left: 619px;
    top: 598px;
    
    background: #C0CFD2;
}
.box9{
    position: absolute;
    width: 490px;
    height: 176px;
    left: 1160px;
    top: 598px;

    background: #C0CFD2;
}
.box10{
    position: absolute;
    width: 488px;
    height: 178px;
    left: 79px;
    top: 800px;
    
    background: #C0CFD2;
}
.box11{
    position: absolute;
    width: 489px;
    height: 178px;
    left: 619px;
    top: 800px;
    
    background: #C0CFD2;
}
.box12{
    position: absolute;
    width: 490px;
    height: 178px;
    left: 1160px;
    top: 800px;
    
    background: #C0CFD2;
}






